<div class="footer-container">
  <hr />
  <div class="social-icon-container">
    <div class="each-icon-container">
      <i class="fa fa-twitter"></i>
    </div>
    <div class="each-icon-container">
      <i class="fa fa-linkedin"></i>
    </div>
    <div class="each-icon-container">
      <i class="fa fa-facebook"></i>
    </div>
  </div>
  <div class="bread-crumb">
    <p>Videos</p>
    <p>/</p>
    <p>People</p>
    <p>/</p>
    <p>Documents</p>
    <p>/</p>
    <p>Events</p>
    <p>/</p>
    <p>Communities</p>
    <p>/</p>
    <p>Favorites</p>
    <p>/</p>
    <p>Channels</p>
  </div>

  <p class="copyright">&copy; Copyright 2021 JodyMantap inc.</p>

  <div class="bread-crumb">
    <p>Privacy</p>
    <p>/</p>
    <p>Terms</p>
  </div>

</div>
